Hi <%= @user.name %>,

Here is your free copy of "Improving Your Business's Website!"
It uses farm-specific examples and language, but the content is applicable to all businesses.

Thanks,

Noah Stapp
Westford, MA
www.noahstapp.com
